@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Isometra&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*:root  {

        --accent-color:rgb(255, 250, 240);
}


html {

        background-color:var(--accent-color);


}


body main {

        max-width:800px;
        margin: 45px 150px 75px 500px;

}

p {
    font-family:"Josefin Sans";

}

li {

    font-family: "Josefin Sans";

}

.title  {

        text-align:center;
        font-family: "Sans Serif";
        font-size: 30px;

}

.paragraph-title {

    font-family:"Sans Serif";
    font-style: italic;
    font-size: 25px;

}



.navigation {

        margin: 0px 0px 0px 0px;
        display:inline;
        color:var(--accent-color);
}

.navigation a {

        opacity:0.7;
        font-weight:bold;
        padding:1em;
        border:1px;


}


.current {

        opacity:1.0;
        background-color:yellow;

 }



.navigation a:hover {

        color:red;

}



main {

        border:2px;
        border-bottom-color:white;

}

footer {

        background-color:yellow;
        font-weigh:bold;

}


::selection {

    background-color: rgb(255, 127, 80);

}
